@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Pacifico&display=swap');

        /* General Styles */
        * {
            box-sizing: border-box;
            margin: 0;
        }

        /* Header Styles */
        header {
            background-image: url(../img/header.jpg);
            background-size: cover;
            background-position: center center;
            display: flex;
            justify-content: center;
            text-align: center;
            height: 200px;
            align-items: center;
        }

        header h1 {
            color: white;
            font-size: 3em;
            font-family: 'Lobster', sans-serif;
            text-shadow: 2px 3px 3px black;
        }

        header h2 {
            color: lightblue;
            font-family: 'Dancing Script', cursive;
            text-shadow: 2px 3px 3px black;
        }

        /* Navigation Styles */
        nav {
            background-color: black;
            display: flex;
            justify-content: space-around;
            position: sticky;
            top: 0;
        }

        nav a {
            text-decoration: none;
            color: white;
            padding: 15px;
            font-family: 'Lobster', sans-serif;
            font-size: 20px;
        }

        nav a:hover {
            color: lightblue;
            text-shadow: 2px 3px 3px black;
            font-size: 21px;
        }

        /* Section Servicios Styles */
        .titulos {
            font-size: 3em;
            font-family: 'Dancing Script', cursive;
            color: lightblue;
            text-shadow: 2px 1px 3px black;
            text-align: center;
            margin-top: 4%;
        }

        #contenedor-servicios {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: lightblue;
        }

        #contenedor-servicios img {
            width: 100%;
        }

        #contenedor-servicios article {
            width: 30%;
            box-shadow: 2px 2px 4px black;
            margin: 10px;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
        }

        #contenedor-servicios h3 {
            margin-top: 10px;
            font-size: 20px;
            text-align: center;
            font-family: 'Lobster', sans-serif;
        }

        #contenedor-servicios p {
            margin: 10px;
        }

        .boton {
            position: relative;
            text-align: center;
            background-color: black;
            color: white;
            border-radius: 20px;
            padding: 10px;
            margin-bottom: 10px;
        }

        #contenedor-servicios a {
            text-decoration: none;
            color: white;
        }

        #contenedor-servicios a:hover {
            color: lightblue;
            font-weight: bold;
            font-size: 15px;
        }

        /* Section Clientes Styles */
        #contenedor-clientes {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        #contenedor-clientes img {
            width: 150px;
            border-radius: 100%;
            float: left;
            margin-right: 15px;
        }

        #contenedor-clientes article {
            width: 40%;
            box-shadow: 2px 2px 4px black;
            margin: 20px 0 30px;
            background-color: white;
            padding: 10px;
            border-radius: 30px;
        }

        #contenedor-clientes h3 {
            margin-bottom: 10px;
            font-size: 20px;
            font-family: 'Lobster', sans-serif;
        }

        /* Section Ubicacion Styles */
        #contenedor-ubicacion {
            background-color: lightblue;
        }

        iframe {
            width: 80%;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        /* Footer Styles */
        footer {
            display: flex;
            flex-wrap: wrap;
            background-color: black;
        }

        #contacto {
            width: 100%;
            border-bottom: 2px solid lightblue;
        }

        #somos, #redes, #formulario {
            width: 33.3%;
            padding: 0 3%;
        }

        form {
            background-color: lightblue;
            text-align: left;
            margin: 10px;
            padding: 15px;
        }

        #botones input {
            position: relative;
            text-align: center;
            background-color: black;
            color: white;
            border-radius: 20px;
            padding: 10px;
            margin-bottom: 10px;
        }

        #botones input:hover {
            color: lightblue;
            font-weight: bold;
            font-size: 15px;
        }

        .titulo-footer {
            font-size: 20px;
            color: white;
            text-align: center;
            font-family: 'Lobster', sans-serif;
        }

        footer label {
            font-size: 20px;
            text-align: center;
            font-family: 'Lobster', sans-serif;
        }

        footer h1 {
            text-align: center;
            padding-top: 10px;
            font-size: 3em;
            font-family: 'Dancing Script', cursive;
            color: lightblue;
            text-shadow: 2px 1px 3px black;
        }

        .parrafos {
            font-size: 17px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            color: white;
        }

        footer a {
            text-decoration: none;
            color: lightblue;
        }

        footer a:hover {
            font-size: 20px;
            font-weight: bold;
        }

        #separacion {
            height: 60px;
        }

        @media (max-width: 600px) {
            iframe {
                width: 100%;
            }

            footer {
                display: flex;
            }

            #contenedor-servicios {
                flex-wrap: wrap;
            }
            #contenedor-servicios article {
                width: 100%;
            }
            #contenedor-clientes {
                flex-wrap: wrap;
            }
            #contenedor-clientes article {
                width: 100%;
            }
            #somos, #redes {
                width: 100%;
            }

            #formulario {
                width: 100%;
            }
        }

        @media (min-width:600px) and (max-width:800px) {
            #contenedor-servicios {
                flex-wrap: wrap;
            }
            #contenedor-servicios article {
                width: 45%;
            }
            #contenedor-clientes {
                flex-wrap: wrap;
            }
            #contenedor-clientes article {
                width: 47%;
            }
            #somos, #redes {
                width: 50%;
            }

            #formulario {
                width: 100%;
                padding: 0 10%;
            }
        }
